<md-card>
    <md-card-title>
        <div layout="column" flex class="md-card-title-text">
            <div layout>
                <span flex>{{card.order.amount}} x {{card.dish.name}}</span>
                <span>{{card.order.date|timeAgo}}&nbsp;</span>
                <md-checkbox class="select-order-checkbox" name="select-order-{{card.order._id}}" ng-model="selected"></md-checkbox>
            </div>
        </div>
    </md-card-title>
    <md-card-content>
        <p ng-if="card.order.notes" class="md-body-2">
            <ng-md-icon icon="note"></ng-md-icon>&nbsp;{{card.order.notes}}
        </p>

        <md-list ng-if="(card.options|filter:{kind:'select'}).length">
            <md-list-item disabled ng-repeat="option in card.options|filter:{kind:'select'}">
                <span>{{option.name}}</p>
                <span class="md-secondary">
                        {{card.order.optionals[option._id]}}
                </span>
            </md-list-item>
        </md-list>
        <md-list ng-repeat="option in dialog.options|filter:{kind:'bool'}" ng-if="(card.options|filter:{kind:'bool'}).length">
            <md-list-item>
                <p>{{option.name}}</p>
                <md-checkbox class="md-secondary" ng-model="dialog.selected[option._id]"></md-checkbox>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>