<style>
  .dish-picture {
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;
    float: right;
  }
</style>

<md-card ng-repeat="category in placeOrder.categories|orderBy:'name'">
  <md-card-title>
    <md-card-title-text>
      <span flex layout class="md-title">
        <span flex>{{category.name}}</span>
        <md-button class="md-icon" ng-click="category.expanded = !category.expanded">
          <ng-md-icon ng-if="category.expanded" icon="expand_less"></ng-md-icon>
          <ng-md-icon ng-if="!category.expanded" icon="expand_more"></ng-md-icon>
        </md-button>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-list ng-if="category.expanded">
      <md-list-item ng-repeat="dish in category.dishes|orderBy:'name'">
        <span class="md-list-item-text">{{dish.name}}</span>
        <md-button class="md-secondary" ng-click="placeOrder.addDish(dish)">
            <ng-md-icon icon="plus_one"></ng-md-icon>
          </md-button>        
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>