<order-card ng-repeat="orderedDish in ordered.orderedDishes" order-id="orderedDish._id">
    <actions>
        <span ng-if="!orderedDish.ready">{{orderedDish.date|timeAgo}}</span>
        <ng-md-icon size="16" icon="check" ng-if="orderedDish.ready"></ng-md-icon>
        <ng-md-icon size="16" icon="alarm" ng-if="!orderedDish.ready"></ng-md-icon>
        <span>{{orderedDish.price|currency}}</span>
    </actions>
</order-card>

<div layout layout-fill layout-align="center center" ng-if="!ordered.orderedDishes.length">
    <span class="md-display-1">No hay pedidos para esta mesa</span>
</div>