<style>
  .dish-picture {
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;
    float: right;
  }
</style>

<section ng-repeat="category in placeOrder.categories|orderBy:'name'">
  <md-subheader>{{category.name}}</md-subheader>
  <md-card ng-repeat="dish in category.dishes">
    <img class="md-card-image" ng-src="{{dish.pictureUrls[0]}}" ng-if="placeOrder.showPhotos && dish.pictureUrls[0]" />
    <md-card-title>
      <md-card-title-text>
        <span flex layout class="md-title">
            <span flex>{{dish.name}}</span>
        <span class="md-title">{{dish.price|currency}}</span>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content></md-card-content>
    <md-card-actions layout layout-align="end">
      <md-button ng-click="placeOrder.addDish(dish)">
        <ng-md-icon icon="plus_one"></ng-md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
  <md-divider ng-if="!$last"></md-divider>
</section>