
    <div layout="row" layout-xs="column">
        <md-input-container ng-class="{'md-block': stats.isXs() }" flex-md="50">
            <label>Desde</label>
            <md-datepicker ng-model="stats.from"></md-datepicker>
        </md-input-container>
        <md-input-container ng-class="{'md-block': stats.isXs() }" flex-md="50">
            <label>Hasta</label>
            <md-datepicker ng-model="stats.to"></md-datepicker>
        </md-input-container>
    </div>
    <div layout layout-align="center center">
        <md-button ng-click="stats.query(stats.from, stats.to)" class="md-primary md-raised">
            <ng-md-icon icon="search"></ng-md-icon>&nbsp;Consultar
        </md-button>
    </div>
    <md-tabs class="md-accent" md-border-bottom flex>
        <md-tab label="× plato">
            <md-list>
                <md-list-item ng-repeat="byDish in stats.byDish|orderBy:'-amount'">
                    <span class="md-list-item-text">
                        {{byDish.name}}
                    </span>
                    <span class="md-secondary">
                        <span ng-if="byDish.average">{{(byDish.average/1000).toFixed(0)}}s (promedio en cocina) ×&nbsp;</span>
                        {{byDish.amount}} pedidos</span>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="× cliente">
            <md-list>
                <md-list-item ng-repeat="byCustomer in stats.byCustomer|orderBy:'-amount'">
                    <span class="md-list-item-text">
                        {{byCustomer.name}}
                    </span>
                    <span class="md-secondary">{{byCustomer.amount}}</span>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tabs>