<!DOCTYPE HTML>

<html lang="es_LA">

<head>
    <link rel="stylesheet" href="/waiter/app.css">
    <meta name="viewport" content="width=device-width">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/waiter/deps.js"></script>
    <script src="/waiter/app.js"></script>
</head>

<body layout='row'>
    <ui-view name="fab"></ui-view>

    <div layout="column" layout-fill>

        <md-toolbar ng-controller="BaseToolbarController as toolbar">
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <md-button layout ng-click="toolbar.toggleSidenav()">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <ui-view flex layout name="top-toolbar"></ui-view>
            </div>
        </md-toolbar>

        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="false">
            <md-list ng-controller="LeftSidenavController as sidenav">
                <md-list-item ng-class="{'md-2-line': table.adminMessage }" ng-repeat="table in sidenav.tables | orderBy:'name'" ng-click="sidenav.selectTable(table)">
                    <div class="md-list-item-text">
                        <span>{{table.name}}</span>
                        <p ng-if="table.adminMessage">
                            <ng-md-icon icon="note"></ng-md-icon>&nbsp;{{table.adminMessage}}</p>    
                    </div>
                    <ng-md-icon class="md-secondary" icon="people" ng-if="table.status === 'occupied'"></ng-md-icon>
                </md-list-item>
            </md-list>
            <div flex></div>
            <div layout="column">
                <md-divider></md-divider>
                <md-button ui-sref="settings" class="md-block">Configuración</md-button>
            </div>

        </md-sidenav>

        <md-content>
            <div ui-view="" autoscroll="">

            </div>
        </md-content>
    </div>
</body>

</html>