<body layout='row' layout-align="center center" style="  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
">

    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <md-button ui-sref="orders">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>&nbsp;Volver</md-button>
                <span flex></span>

            </div>
        </md-toolbar>

        <div layout="column" layout-padding flex>
            <md-switch ng-model="settings.readOrderOutLoud" aria-label="Leer pedido en voz alta">
                Leer pedido en voz alta
            </md-switch>
            <md-slider-container class="md-block">
                <md-select style="margin-right: 2em;max-width: inherit;width: 8em;" ng-disabled="!settings.readOrderOutLoud" ng-model="settings.voice">
                    <md-option ng-value="voice.voiceURI" ng-repeat="voice in settings.voices">{{voice.lang}}</md-option>
                </md-select>
                <ng-md-icon icon="{{ settings.volume > 0 ? 'volume_up' : 'volume_off' }}"></ng-md-icon>
                <md-slider ng-disabled="!settings.readOrderOutLoud" ng-model="settings.volume" aria-label="Volume" flex md-discrete></md-slider>
            </md-slider-container>
            <section>
                <md-subheader>Direcciones IP</md-subheader>
                <md-input-container class="md-block" ng-repeat="address in settings.ipAddresses">
                    <label>{{address.name}}</label>
                    <input type="text" disabled value="{{address.address}}" />
                </md-input-container>
            </section>
        </div>
    </div>
</body>