<md-content layout-padding>
    <section>
        <md-subheader>Generales</md-subheader>
        <md-input-container class="md-block">
            <label>Nombre del local</label>
            <input type="text" ng-model="ctrl.settings.shopName" />
        </md-input-container>
    </section>
    <section>
        <md-subheader>Impresora</md-subheader>
        <md-input-container class="md-block">
            <label>Dispositivo</label>
            <md-select ng-model="ctrl.settings.printerDevice">
                <md-option>
                    <em>Ninguna</em>
                </md-option>
                <md-option ng-repeat="printer in ctrl.printers" ng-value="printer.address">
                    {{printer.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label>
                Cabecera del ticket
            </label>
            <textarea rows="5" ng-model="" cols="30" style="font-family: monospace" ng-model="ctrl.settings.ticketHeader"></textarea>
        </md-input-container>
    </section>

</md-content>