<md-dialog aria-label="Borrar mesa">

  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 md-truncate flex>Agregar opcional</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <md-input-container class="md-block">
      <label>Nombre</label>
      <input type="text" ng-model="dialog.option.name" />
    </md-input-container>
    <md-input-container class="md-block">
      <label>Tipo</label>
      <md-select ng-model="dialog.option.kind">
        <md-option value="bool">Sí/No</md-option>
        <md-option value="select">Opciones</md-option>
      </md-select>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
      <md-button ng-click="dialog.cancel()">
          Cancelar
      </md-button>
      <md-button class="md-primary md-raised" ng-click="dialog.confirm()" ng-disabled="!dialog.canConfirm()">
          Confirmar
      </md-button>
</md-dialog>